.scrollAreaRoot {
	margin-left: calc(var(--mantine-spacing-xl) * -1);
	margin-right: calc(var(--mantine-spacing-xl) * -1);
}

.scrollAreaViewport {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: var(--mantine-spacing-xl);
		height: 100%;
		background: linear-gradient(to left, transparent, var(--mantine-color-body));
		z-index: 10;
		pointer-events: none;

		@mixin dark {
			background-color: linear-gradient(to left, transparent, var(--mantine-color-body));
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: var(--mantine-spacing-xl);
		height: 100%;
		background: linear-gradient(to right, transparent, var(--mantine-color-body));
		z-index: 10;
		pointer-events: none;

		@mixin dark {
			background-color: linear-gradient(to right, transparent, var(--mantine-color-body));
		}
	}
}

.scrollAreaScrollbar {
	margin-left: var(--mantine-spacing-xl);
	margin-right: var(--mantine-spacing-xl);
}

.scrollAreaBox {
	padding-left: var(--mantine-spacing-xl);
	padding-right: var(--mantine-spacing-xl);
}